<div class="container">
<div class="row justify-content-center">
<% if @courses.any? %>

  <% @courses.each do |course| %>
    <div class="card me-3 mb-3 col-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= course.name %></h5>
          <p class="card-text"><%= course.short_name %></p>
          <p class="card-text"><%= course.description %></p>
          <a href="#" class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  <% end %>

<% end %>
</div>


</div>
